.footer {
	@include adaptiveValue("padding", 25, 15);
	border-top-left-radius: 80px;
	border-top-right-radius: 80px;
	background-color: $mainColor;
	@media (min-width: toEm(920)) {
		padding-bottom: 0px;
	}
	@media (max-width: toEm(520)) {
		padding-bottom: 0px;
		border-top-left-radius: 0px;
		border-top-right-radius: 0px;
	}
}
.--contact-title {
	text-shadow: 3px 4px 4px #646968;
	@include adaptiveValue("font-size", 50, 36, 18);
	color: white;
	margin-bottom: toRem(20px);
}
.contacts {
	&__wrapper {
		display: flex;
		justify-content: space-around;
		@include adaptiveValue("gap", 25, 15);
	}
}
.icon {
	&__body {
		border-radius: 20%;

		flex: 1 1 auto;
		max-width: 160px;
		@media (max-width: toEm(540)) {
			border: none;
		}
		@media (min-width: toEm(1000)) {
			max-width: 180px;
		}
	}
}
.icon-contact {
	height: 100%;
	width: 100%;
}
.contacts__link {
	cursor: pointer;
}
.contacts-titile-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (max-width: toEm(540)) {
		border: none;
	}
}

a[href^="tel:"] {
	@include adaptiveValue("font-size", 40, 26);
	color: white;
	text-shadow: 3px 4px 4px #646968;
	text-align: center;
	justify-self: center;
	align-self: center;
	@media (max-width: toEm(540)) {
		@include adaptiveValue("font-size", 26, 20);
	}
	@media (min-width: toEm(920)) {
		@include adaptiveValue("font-size", 22, 18);
	}
}
